* {
    margin: 0;
    padding: 0;
}

.logincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #30d47a64;
}

.logincredentials {
    border: 1px solid black;
    background: white;
    border-radius: 0.5em;
    padding: 50px 100px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

p {
    font-size: 20px;
}

.signuppagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #30d47a64;
}

.signuppagebox {
    border: 1px solid black;
    background: white;
    border-radius: 0.5em;
    padding: 50px 100px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logincredentials input,
.signuppagebox input:focus,
.signuppagebox input,
.inputs {
    background: none;
    padding: 10px 20px;
    border: 0;
    outline: none;
    border-bottom: 1px solid black;
}

.logincredentials button,
.signuppagebox button {
    border-radius: 0.5em;
    padding: 10px 20px;
    background-color: #3CB371;
    transition: 0.3s;
    opacity: 0.8;
    border: 0.5px solid gray;
}


.signuppagebox button:hover,
.logincredentials button:hover {
    opacity: 1;
    cursor: pointer;
}

/* Home Page  */

.homepagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #30d47a28;
}

.homepagebox {
    height: 60%;
    width: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.homepageoptions button,
.explore button {
    background-color: #3CB371;
    padding: 20px 40px;
    border-radius: 0.5em;
    transition: 0.3s;
    opacity: 0.8;
    border: 0.5px solid gray;
}

.homepageoptions button:hover, .explore button:hover {
    text-align: center;
    opacity: 1;
    cursor: pointer;
}

.slideIn {
    animation: slideIn 2s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.homepageoptions {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signuppagebox button:hover {
    opacity: 1;
}

.helplinescontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #30d47a64;
}

/*Helpline Formatting*/
.helplineslist {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.helplineslist button {
    border-radius: 0.5em;
    padding: 15px 40px;
    background-color: #3CB371;
    transition: 0.3s;
    opacity: 0.8;
    border: 2px solid green;
}

.helplineslist button:hover {
    opacity: 1;
    cursor: pointer;
}

.homeButton {
    display: flex;
    justify-content: flex-end;
}

.homeButton button {
    border-radius: 0.5em;
    padding: 10px 20px;
    background-color: #3CB371;
    transition: 0.3s;
    opacity: 0.8;
}

.bbox1,
.bbox2,
.bbox3,
.lbox1,
.lbox2,
.lbox3,
.dbox1,
.dbox2,
.dbox3 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: #f0f0f0;
    padding: 10px;
}

.breakfastpics,
.lunchpics,
.dinnerpics {
    display: flex;
    justify-content: space-between;
}

.brecipebuttons,
.lrecipebuttons,
.drecipebuttons {
    display: flex;
    justify-content: space-between;
    margin: 100px 60px;
}

.b1 button,
.b2 button,
.b3 button,
.l1 button,
.l2 button,
.l3 button,
.d1 button,
.d2 button,
.d3 button {
    height: 30px;
    border-radius: 0.5em;
    background-color: #3CB371;
}

.explore {
    padding: 100px;
    background-color: #30d47a64;
}

.reminderscontainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.reminderslist {
    background-color: #30d47a28;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    border-right: 1px solid black;
}

.reminderslist div {
    border-bottom: 1px solid black;
}

.addreminders {
    background-color: #30d47a64;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.addreminders h1 {
    text-align: center;
}

.addremindersbottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.remindertimes {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.addreminderstop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addremindersbottom button,
.add button {
    border: none;
    background-color: #3CB371;
    padding: 10px 20px;
    border-radius: 0.25em;
    font-size: 30px;
    transition: 0.3s;
    opacity: 0.8;
}

.addremindersbottom button:hover,
.add button:hover {
    opacity: 1;
    cursor: pointer;
}

.addcontainer button {
    margin-top: 20px;
}

.icon {
    position: absolute;
    margin-right: 40px;
    font-size: 50px;
    right: 0;
    top: 0;
    background: none;
    border: 0;
}


canvas {
    width: 900px !important;
    /* set the width of the canvas */
    height: 500px !important;
    /* set the height of the canvas */
    margin: 0 auto;
}

.progresspagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #30d47a17;
}

input[type="file"] {
    background-color: #fff8f86e;
    color: #333;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addcontainer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #30d47a64;
}

.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff8f86e;
    padding: 10px;
}

.q1,
.q2,
.q3,
.q4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#exceptionHomeButton {
    background: none;
    border: 0;
    padding-right: 0.05vw;
}